* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    height: 200px;
    padding: 20px 40px;
    background-color: lightseagreen;
}

.container {
    padding: 10px 40px;
    margin: 10px 10px;
}

.list {
    margin: 20px 10px;
}

.dynamic {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    border: 3px solid #123;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form > h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
}

input[type=text], [type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form, .card {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 10px;
}

.emp-details {
    display: inline-block;
    margin: 0px 20px;
}

.emp-name {
    color: #4caf50;
    font-weight: bold;
}

.emp-role {
    font-size: 14px;
}

.div.remove-card {
    float: right;
}

.remove-card {
    border: none;
}

.add-new-employee {
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 10px;
}

#create {
    background-color: #1abc9c;
}

.dynamic {
    padding: 10px 10px;
    border: 3px solid #ccc;
    background-color: #eee;
}

.modal-buttons {
    margin: 25px 0px;
}

.btn {
    margin: 20px 5px;
    width: 120px;
    height: 35px;
    border: 0px solid;
    background-color: honeydew;
}

.btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.alert, .prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 20px 30px;
    border: 3px solid #45a049;
    border-radius: 2px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.alert > h2, p, button, .prompt > h2 {
    margin: 10px 0px;
}

.alert > h2, .prompt > h2 {
    color: #45a049;
}

#alertOk {
    width: 70px;
    height: 30px;
    float: right;
    border: 0px solid;
    background-color: #45a049;
}

.modal-btn {
    padding: 10px 20px;
    background-color: #45a049;
    border: none;
    color: #fff;
    float: right;
    margin: 5px;
}

.impor-update {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}